
<form action="mealkits/<%=mealkit_id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <br> </br>
  <br> </br>
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
    <br> </br>
      <p> Meal Kit Number: <%= mealkit.id %> <label> </p>
      <p> Meal Kit Name: <%= mealkit.name %> </p>
      <p> Ingredients: <%= mealkit.ingredients %> </p>
      <p> Cooking Time: <%= mealkit.time %>    Minutes</p>
      <p> Serving Size: <%= mealkit.serving_size %>      People</p>
      <br> </br>
      <input type="submit" value="   delete    ">
      <br> </br>
    <br> </br>
</form>
