<body>
  <h2> <p> Welcome, <%= @customer.name %> </p> </h2>
    <p> <a href="/main_menu"> Main Menu </a> </p>
    <p> <a href="/mealkits/logout"> Logout </a> </p>
    <br> </br>
      <p>  Here are all the Meal Kits: </p>
        <h3> <% if flash.has?(:message) %>
           <%= flash[:message] %>
        <% end %> </h3>
        <p>-----------------------------------------------------------------------------------------------</p>
          <% @mealkits.each do | mealkit | %>
            <p> Meal Kit Number: <%= mealkit.id %> <label> </p>
            <p> Meal Kit Name: <%= mealkit.name %> </p>
            <p> Ingredients: <%= mealkit.ingredients %> </p>
            <p> Cooking Time: <%= mealkit.time %>    Minutes</p>
            <p> Serving Size: <%= mealkit.serving_size %>      People</p>
            <br> </br>
          <p>-----------------------------------------------------------------------------------------------</p>
          <br> </br>
        <% end %>
        <p> <a href="/main_menu"> Main Menu </a> </p>
        <p> <a href="/logout">Log Out</a> </p>
    <br> </br>
  <br> </br>
</body>
