<body>
  </form>
    <p> <h5> Username: <%= current_customer.username %> </p>
    <p> Email: <%= current_customer.email %> </h5> </p>
      <br> </br>
      <p> <a href="/main_menu"> Main Menu </a> </p>
      <p> <a href="/mealkits/logout"> Logout </a> </p>
        <br> </br>
        <br> </br>
          <h3> <% if flash.has?(:message) %>
             <%= flash[:message] %>
          <% end %> </h3>

          <h2> Here are all the Meal Kits: </h2> <br> <br>

          <% @mealkits.each do|mealkit|%>
          <h5> Mealkit Number: <%= mealkit.id %> </h5>
      <p> <h5> Meal Kit Name:<a href="/mealkits/<%=mealkit.id%>"> <%= mealkit.name %> </a></h5> </p>
      <p> <h5> Ingredients: <%= mealkit.ingredients %> </h5> </p>
      <p> <h5> Cooking Time: <%= mealkit.time %>    Minutes  </h5></p>
      <p> <h5> Serving Size: <%= mealkit.serving_size %>    People </h5></p>
      <br> </br>
      <p>-------------------------------------------------------------------------------------------------------------------------------</p>
      <% end %>
      <p> <a href="/main_menu"> Main Menu </a> </p>
      <p> <a href="/mealkits/logout"> Logout </a> </p>
        <br> </br>
