<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <h2> <p> Welcome, <%= @customer.name %> </p> </h2>
            <p> Here are your Meal Kits: </p>
            <p>-----------------------------------------------------------------------------------------</p>
            <%customer.mealkits.each do |mealkit| %>
              <p> Meal Kit Name: <%=mealkit.name %> </p>
              <p> Ingredients: <%=mealkit.ingredients %> </p>
              <p> Cooking Time: <%=mealkit.time %> </p>
              <p> Serving Size: <%=mealkit.serving_size %> </p>
              <% end %>
              <p>-----------------------------------------------------------------------------------------</p>

              <p> Please make a selection: </p>

              <p> <a href="/mealkits/main_menu"> Main Menu </a> </p>
              <p> <a href="/mealkits/logout"> Logout </a> </p>

          </form>
        </body>
    </html>
