<body>
  <h2> Welcome!  <%= current_customer.name %> </h2>
  <p> <h5> Username: <%= current_customer.username %> </h5> </p>
    <br> </br>
      <p> <a href="/main_menu"> Main Menu </a> </p>
      <p> <a href="/logout"> Logout </a> </p>
        <br> </br>
        <p> <h2> Account Update  </h2> <p>
          <form action="/customers/<%=@customer_id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="patch">
            <p> <h5> Customer Name: <input type ="text" name ="current_customer.name" value ="<%= current_customer.name %>"> </h5> </p>
            <p> <h5> Email: <input type ="text" name ="current_customer.email" value ="<%= current_customer.email %>"> </h5> </p>
            <p> <h5> Shipping Address </p> </h5>
              <p> <h5> <input type ="text" name = "street_address" value = "Street Address"> </h5> </p>
              <p> <h5> <input type ="text" name = "state_city_address" value = "State / City / Zip Code"> </h5> </p>
              <br> </br>
            <input type ="submit" value ="    UPDATE    ">
          </form>
          <br> </br>
        <form method="delete" action="/customers/<%=@customer.id%>">
          <input id="delete" type="hidden" name="_method" value="patch">
          <input type="submit" value="     DELETE       ">
        </form>
      <br> </br>
  <br> </br>
</body>
