  <h2> Welcome!  <%= current_customer.name %> </h2>
     <h5> Username: <%= current_customer.username %> </h5>
     <a href="/main_menu"> Main Menu </a>
     <a href="/logout"> Logout </a>
    <br> </br>
       <h2> Account Update  </h2>
        <form method="post" action="/customers/<%=current_customer.id %>">
          <input id="hidden" type="hidden" name="_method" value="patch">
             <h5> Customer Name: <input type ="text" name ="customer[name]" value ="<%= @customer.name %>"> </h5> </p>
             <h5> Email: <input type ="text" name ="customer[email]" value ="<%= @customer.email %>"> </h5> </p>
            <br> </br>
          <input type ="submit" value ="    UPDATE    ">
        </form>
        <br> </br>
         <a href="/main_menu"> Main Menu </a>
         <a href="/logout">Log Out</a>
          <br> </br>
