  <br> </br>
   <h2> Welcome!  <%= current_customer.name %> </h2>
   <h5> Username: <%= current_customer.username %>
   Email: <%= current_customer.email %> </h5>
    <br> </br>
         <h2> Please make your selection: </h2>
          <br> </br>
           <a href="/customers/<%= current_customer.id %>"> Account Information </a>
           <a href="/customers/<%= current_customer.id %>/edit"> Account Update </a>
           <a href="/customers"> Customer List </a>
           <a href="/customers/<%= current_customer.id %>"> Delete Account </a>
           <a href="/mealkits/new"> Create a Meal Kit </a>
           <a href="/mealkits"> Reports / Edit / Delete  - Meal Kits </a>
          <br>
           <a href="/logout">Log Out</a>
        <br> </br>
      <br> </br>
