<h2> Welcome!  <%= current_customer.name %> </h2> <br>
<h5> Username: <%= current_customer.username %> </h5><br>
<h5> Email: <%= current_customer.email %> </h5><br><br> </br>
  <h2> Please make your selection: </h2><br> </br>
    <a href="/customers/<%= current_customer.id %>"> Account Information </a><br><br>
    <a href="/customers/<%= current_customer.id %>/edit"> Account Update </a><br><br>
    <a href="/customers"> Customer List </a><br><br>
    <a href="/customers/<%= current_customer.id %>"> Delete Account </a><br><br>
    <a href="/mealkits/new"> Create a Meal Kit </a><br><br>
    <a href="/mealkits"> Reports / Edit / Delete  - Meal Kits </a><br><br><br>
    <a href="/logout">Log Out</a><br><br><br><br> </br>
