<body>
  <br> </br>
  <p> <h2> Welcome!  <%= current_customer.name %> </h2> </p>
  <p> <h5> Username: <%= current_customer.username %> </p>
  <p> Email: <%= current_customer.email %> </h5> </p>
    <br> </br>
      <h3> <% if flash.has?(:message) %>
        <%= flash[:message] %> </h3>
      <% end %>
        <p> <h2> Please make your selection: </h2>
          <br> </br>
          <p> <a href="/customers/<%= current_customer.id %>"> Account Information </a> </p>
          <p> <a href="/customers/<%= current_customer.id %>/edit"> Account Update </a> </p>
          <p> <a href="/customers"> Customer List </a> </p>
          <p> <a href="/customers/<%= current_customer.id %,>"> Delete Account </a> </p>
          <br> </br>
          <p> <a href="/mealkits"> Reports  - Meal Kits </a> </p>
          <p> <a href="/customers/<%= current_customer.id %>"> Customer Report </a> </p>
          <p> <a href="/mealkits/new"> Create a Meal Kit </a> </p>
          <br>
          <p> <a href="/logout">Log Out</a> </p>
        <br> </br>
      <br> </br>
</body>
