<br> </br>
  <p> <h2> Welcome!  <%= current_customer.name %> </h2> </p>
  <p> <h5> Name: <%= current_customer.name %> </p>
  <p> <h5> Username: <%= current_customer.username %> </p>
  <p> Email: <%= current_customer.email %> </h5> </p>
  <br> </br>
    <br> </br>
    <p>-------------------------------------------------------------------------------------------------------------------------------</p>
      <h2> <p>  Here are   <%= current_customer.name %>'s   Meal Kits: </p> </h2>
        <br> </br>
          <% current_customer.mealkits.each do | mealkit | %>
              <p> Meal Kit Number: <%= mealkit.id %> <label> </p>
              <p> Meal Kit Name: <%= mealkit.name %> </p>
              <p> Ingredients: <%= mealkit.ingredients %> </p>
              <p> Cooking Time: <%= mealkit.time %>    Minutes </p>
              <p> Serving Size: <%= mealkit.serving_size %>    People</p>
              <br> </br>
              <%if current_customer.id == @customer.id %>
              <form action="/customers/<%=customer.id%>/delete" method="post">
              <input id="delete" type="hidden" name="_method" value="delete">
              <input type="submit" value="     DELETE     ">  </input>
              <% end %>
            <br> </br>
    <p>-----------------------------------------------------------------------------------------------</p>
        <% end %>
      <br> </br>
    <br> </br>
  <p> <a href="/main_menu"> Main Menu </a> </p>
  <p> <a href="/logout">Log Out</a> </p>
</form>
</body>
