 <a href="/main_menu"> Main Menu </a> <br> <br>
 <a href="/logout"> Logout </a> <br>
 <% if current_customer == @customer %>
     <h2> <center> Account Information </center> </h2> <br>
       <h5> Customer ID: <%= @customer.id %> </h5> <br>
         <h5> Username: <%= @customer.username %> </h5> <br>
         <h5> Customer Name: <%= @customer.name %> </h5> <br>
         <h5> Email: <%= @customer.email %> </h5> <br>
      <br> </br>
<h3> <% if flash.has?(:message) %>
   <%= flash[:message] %>
<% end %> </h3>
<br> </br>
<form method="post" action="/customers/<%=@customer.id%>/delete">
  <input id="delete" type="hidden" name="_method" value="delete">
  <input type="submit" value="    DELETE    ">
  <br>
</form>

<br>
-------------------------------------------------------------------------------------------------------------------------------</p>
<h3>   Here are   <%= @customer.name %>'s   Meal Kits:  </h3> <br> <br>

<% @customer.mealkits.each do | mealkit | %> <br> <br>
 <h5> Meal Kit Number: <%= mealkit.id %>  </h5> <br> <br>
 <h5> Meal Kit Name: <%= mealkit.name %> </h5> <br> <br>
 <h5> Ingredients: <%= mealkit.ingredients %> </h5> <br> <br>
 <h5> Cooking Time: <%= mealkit.time %>    Minutes  </h5> <br> <br>
 <h5> Serving Size: <%= mealkit.serving_size %>    People </h5> <br> <br>
<br> </br>
<br> </br>
-----------------------------------------------------------------------------------------------</p>
<% end %>
<% end %>
 <a href="/main_menu"> Main Menu </a> <br> <br>
 <a href="/logout">Log Out</a> <br> <br>
