<body>
  <form method="post" action="/customers/<%= customer_id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2> Welcome!  <%= current_customer.name %> </h2>
    <br> </br>
      <p> <a href="/main_menu"> Main Menu </a> </p>
      <p> <a href="/logout"> Logout </a> </p>
        <br> </br>
          <p> <h2> <center> Account Update </center> </h2> <p>
            <p> <h5> Customer ID: <%= @customer.id %> </h5> </p>
            <p> <h5> Username: <%= @customer.username %> </h5> </p>
            <p> <h5> Customer Name: <%= @customer.name %> </h5> </p>
            <p> <h5> Email: <%= @customer.email %> </h5> </p>
            <p> <h5> Shipping Address: <%=@customer.shipping_address %> </h5> </p>
            <br> </br>
            <p> <a href="/main_menu"> Main Menu </a> </p>
            <p> <a href="/logout"> Logout </a> </p>
        <br> </br>
      <form method="post" action="/customers/<%= @customer.id %>/delete">
      <input id="delete" type="hidden" name="_method" value="delete">
      <input type="submit" value="     DELETE       ">
  </form>
</body>
